@import "variables";


.text-b{
    color:  $catalog-dark;
}

.checkout{
    padding: 20px;
    background-color: $catalogsecondary;
    border-radius: 2%;
}

.text-g{
    color: $catalog-dark !important;
}

.pd-10{
    padding: 10px;
}

.pb-20{
    padding-bottom: 40px;
}