/*---------------------
  Detalles / features
-----------------------*/
@import "variables";

.w-100{
	width: 100% !important;
}
//title
.title1{
	text-align: center;
	color: $catalogsecondary;
	font-family: 'Montserrat', sans-serif;
    font-weight: 300px;
    font-size: 20px;
}

.pt-10{
    padding-top: 10px;
}

.divider2{
	max-width: 4rem;
    border-width: 0.2rem;
    border-color: $white;
}
//End title


//PRODUCT
// Product Image
.product_row
{
	.product_pt{
		padding-top: 30px;

		.product_image_large {
			width: 100%;
		
			img {
			max-width: 100%;
			}
		}
		.product_image_thumbnails
		{
		margin-top: 28px;

			.product_image_thumbnail
			{
			width: 166px;
			height: 166px;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center center;
			margin-right: 30px;
			cursor: pointer;
			}
		}
		//End product image

		//Product content
		.product_name
		{
			font-size: 30px;
			font-weight: 600;
			color: $white;
			line-height: 0.75;
		}
		.product_price
		{
			font-size: 24px;
			font-weight: 600;
			margin-top: 9px;
			color: $gray-500;
		}

		.in_stock_container span
		{
			font-size: 18px;
			color: $catalogsecondary;
			margin-left: 7px;

			.in_stock {
				display: inline-block;
				position: relative;
				background: #e0e3e4;
				width: 15px;
				height: 15px;
			  
				&.in_stock_true::after {
				  display: block;
				  position: absolute;
				  top: 50%;
				  left: 50%;
				  -webkit-transform: translate(-50%, -50%);
				  -moz-transform: translate(-50%, -50%);
				  -ms-transform: translate(-50%, -50%);
				  -o-transform: translate(-50%, -50%);
				  transform: translate(-50%, -50%);
				  content: url(../images/checked.png);
				}
			}
		}
		.product_text
		{
			padding-top: 90px;
			color: $gray-500;
		}
		//End product content

		//Product Quantity
		.product_quantity_container {
			margin-top: 50px;
		  
			span {
			  display: inline-block;
			  font-size: 15px;
			  font-weight: 600;
			  color: $gray-300;
			  vertical-align: middle;
			}

			.product_quantity {
				display: inline-block;
				width: 100% !important;
				height: 41px;
				overflow: hidden;
				padding-left: 11px;
				vertical-align: middle;
				margin-left: 14px;
			  
				input {
				  display: block;
				  width: 60px;
				  height: 41px;
				  border: none;
				  outline: none;
				  font-size: 18px;
				  font-weight: 400;
				  color: $gray-300;
				  text-align: left;
				  padding-left: 9px;
				  line-height: 39px;
				  float: left;
				  background-color: $white;
				}
			}
		}
		//End Product Quantity

		//Product Size
		.product_size_container {
			margin-top: 45px;
			margin-bottom: 30px;
			
		  
			span {
			  display: inline-block;
			  vertical-align: middle;
			  font-size: 15px;
			  font-weight: 600;
			  color: $gray-300;
			}
			.product_size
			{
				display: inline-block;
				vertical-align: middle;
				padding: 0px !important;

				.regular_radio {
					display: none !important;
				  
					&:checked + label {
					  background: $catalogsecondary;
					  color: $white;
					}
				  
					+ label {
					  display: -webkit-box;
					  display: -moz-box;
					  display: -ms-flexbox;
					  display: -webkit-flex;
					  display: flex;
					  flex-direction: column;
					  justify-content: center;
					  align-items: center;
					  -webkit-appearance: none;
					  -moz-appearance: none;
					  -ms-appearance: none;
					  -o-appearance: none;
					  appearance: none;
					  width: 48px;
					  height: 41px;
					  background: $white;
					  border: solid 1px #b5b5b5;
					  cursor: pointer;
					  margin-right: 8px;
					}
				}
			}
		}
		//End Product Size
		.btn-features{
			width: 100% !important;
			text-align: center;

		}
	}
}

//Additional Information
.title2{
	padding-top: 80px;
	padding-bottom: 15px;
	text-align: center;
	color: $white;
	font-family: 'Montserrat', sans-serif;
    font-weight: 300px;
    font-size: 35px;
}

.text2 {
	color: $gray-500;
	font-size: 16px;
	padding-bottom: 30px;
}

.divider{
	max-width: 6rem;
    border-width: 0.2rem;
    border-color: $catalogprimary;
}	
//End Additional Information
//END PRODUCT


//Related products
.featuredp {
	background-color: $white;
	//border-top: 5px solid $catalogprimary;
	padding-left: 100px;
	padding-right: 100px;
	padding-bottom: 20px;

	.section3 {
		width: 100%;
		padding-bottom: 30px;
		background-color: $white;
		color: $catalog-dark;

		h4 {
			background-color: transparent;
		}

		.title3{
			padding-top: 40px;
			padding-bottom: 20px;
			text-align: center;
			color: $catalog-dark;
			font-family: 'Montserrat', sans-serif;
			font-weight: 300px;
			font-size: 30px;
		}
	}
	.featuredbtn {
		display: inline-block;
		background-color: $catalogprimary !important;
	}
} 
//End Related products


 
.breadcrumb{
	margin-bottom: 0px !important;
	a {
		color: $gray-500;
	}
	a:hover {
		color: $white;
		text-decoration: none !important;
	}
}

 


